$stripe_white: #ffffff;
$stripe_softblack: #3a3a3a;
$stripe_hover_opacity: 0.7;
$stripe_softwhite: rgba(255, 255, 255, 0.2);
$stripe_softwhite_active: rgba(255, 255, 255, 0.3);
$stripe_blue_title: #12183a;
$stripe_blue_subtitle: #635bff;
$stripe_blue_accent: rgb(12,46,78);

$deeply_myriad: myriad-pro, sans-serif;
$deeply_futura: futura-pt, sans-serif;
$deeply_opensans: "Open Sans", sans-serif;
$deeply_proxima: proxima-nova, sans-serif;
$deeply_courier: courier-prime, monospace;

$deeply_desktop_width: 1050px;