$stripe_white: #ffffff;
$stripe_grey: #eeeeee;
$stripe_dark: #888888;
$stripe_hover_opacity: 0.7;

$deeply_myriad: myriad-pro, sans-serif;
$deeply_futura: futura-pt, sans-serif;
$deeply_opensans: "Open Sans", sans-serif;
$deeply_proxima: proxima-nova, sans-serif;

$deeply_desktop_width: 1050px;