@import "../../../styles/mixins.scss";

.hero {
    width: 100%;
    background-image: url("../../../images/gradient.png");
    padding-top: 75px;
    box-sizing: border-box;
}

.hero__container {
    width: $deeply_desktop_width;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 600px;
}

.hero__column {
}

.hero__column--left {
    width: 60%;
}

.hero__title {
    font-size: 84px;
    margin: 160px 0 0 0;
    padding: 0;
    font-weight: 600;
    line-height: 0.9em;
}

.hero__description {
    margin-top: 30px;
    font-size: 20px;
    width: 540px;
}

.hero__column--right {
    width: 40%;
}

.hero__preview-container {
    display: flex;
    justify-content: center;
}

.hero__preview-phone {
    margin-top: 100px;
}
